@import 'variables';
.s_contacts{
  background: #fff;
  padding: 50px 0 90px;
  &_heading{
    margin-bottom: 20px;
  }
  &_wrap{
    align-items: baseline;
    @media all and (max-width: 1023px){
      display: block;
    }
  }
  &_left{
    width: 50%;
    padding-right: 50px;
    @media all and (max-width: 1023px){
      width: 100%;
      padding: 0;
      margin-bottom: 40px;
    }
    &_text{
      margin-right: 40px;
      max-width: 260px;
      @media all and(max-width: 639px){
        margin: 0;
        margin-bottom: 24px;
      }
    }
    &_inner{
      align-items: baseline;
      @media all and(max-width: 1023px){
        justify-content: flex-start;
      }
      @media all and(max-width: 639px){
        display: block;
      }
    }
  }
  &_right{
    width: 50%;
    padding-left: 50px;
    @media all and (max-width: 1023px){
      width: 100%;
      padding: 0;
    }
  }
  &_tel{
    margin-top: 28px;
    display: block;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover{
      color: #0e4420;
    }
    @media all and (max-width: 1099px){
      font-size: 22px;
    }
    @media all and (max-width: 767px){
      font-size: 20px;
      margin-top: 20px;
    }
  }
  &_list{
    max-width: 200px;
    width: 100%;
    p{
      margin-bottom: 3px;

    }
    a{
      color: $green;
      display: block;
      margin-bottom: 5px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover{
        color: #0e4420;
      }
    }
  }
}
