.s_footer{
  padding: 90px 0 100px;
  background: url(../assets/pattern.png);
  // background-size: cover;
  background-position: center;
  background-repeat: repeat;
  &_wrap{
    align-items: baseline;
    @media all and(max-width: 767px){
      flex-direction: column;
    }
  }
  h2{
    color: #fff;
  }
  &_form{
    max-width: 545px;
    width: 100%;
    margin-right: 70px;
    @media all and(max-width: 767px){
      order: 1;
    }
  }
  &_checkbox{
    margin-top: 20px;
    display: block;
    margin-bottom: 50px;
    *{
      color: #fff;
    }
  }
  &_info{
    p{
      font-size: 18px;
      color: #000;
    }
    @media all and(max-width: 767px){
      margin-bottom: 24px;
    }
  }
  &_submit{
    button{
      max-width: 278px;
      width: 100%;
      padding: 0 5px;
      outline: none;
      border: none;
      background: #262626;
      height: 83px;
      line-height: 83px;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      font-family: "SuisseIntl-SemiBold";
      cursor: pointer;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      transition: all 0.3s linear;
      &:hover{
        background: #fff;
        color: #262626;
      }
      &:disabled{
        opacity: 0.7;
        &:hover{
          background: #262626;
          color: #fff;
        }
      }
    }
  }
}
