@import 'variables';
.s_offices{
  background: #282828;
  position: relative;
  overflow: hidden;
  padding: 90px 0 140px;
  @media all and(max-width: 1023px){
    padding: 40px 0;
  }
  &_heading{
    margin-bottom: 30px;
  }
  &_tabs{
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -10px;
    margin-bottom: 24px;
  }
  &_adr{
    margin-top: 50px;
    h3{
      font-size: 26px;
      margin-bottom: 25px;
      font-family: "SuisseIntl-Light";
      font-weight: 300;
    }
  }
  &_tab{
    padding: 10px;
    button{
      border: none;
      outline: none;
      cursor: pointer;
      background: transparent;
      text-transform: uppercase;
      font-size: 11px;
      color: #fff;
      font-weight: 600;
      font-family: "SuisseIntl-SemiBold";
      transition: all 0.3s ease-in-out;
      &:hover{
        color: $green;
      }
      &.active{
        color: $green;
      }
    }
  }
  &_content{
    max-width: 50%;
    padding-right: 40px;
    @media all and(max-width: 767px){
      padding-right: 0;
      margin-bottom: 24px;
      max-width: 100%;
    }
    *{
      color: #fff;
    }
  }
  &_map{
    position: absolute!important;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    @media all and(max-width: 767px){
      position: relative!important;
      width: 100%;
      height: auto;
      padding-bottom: 100%;
    }
  }
}
