@import 'variables';
@font-face{
  font-family: "SuisseIntl";
  src : url("assets/fonts/SuisseIntl.woff");
}
@font-face{
  font-family: "SuisseIntl-Light";
  src : url("assets/fonts/SuisseIntl-Light.woff");
}
@font-face{
  font-family: "SuisseIntl-SemiBold";
  src : url("assets/fonts/SuisseIntl-SemiBold.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "SuisseIntl-Light";
}

h1,h2,h3,h4,h5{
  margin: 0;
  margin-bottom: 1em;
  color: $dark;
  &:last-child{
    margin-bottom: 0;
  }
}
a{
  text-decoration: none;
}
h1,.h1{
  font-size: 50px;
  font-family: "SuisseIntl-Light";
  font-weight: 300;
}
h2,.h2{
  font-size: 34px;
  font-family: "SuisseIntl-Light";
  font-weight: 300;
}

p{
  margin: 0;
  margin-bottom: 1em;
  font-size: 15px;
  line-height: 1.6em;
  color: $dark;
  font-family: "SuisseIntl-Light";
  font-weight: 300;
  &:last-child{
    margin-bottom: 0;
  }
}

.container{
  max-width: 1208px;
  padding: 0 24px;
  margin: 0 auto;
  @media all and (max-width: 1023){
    padding: 0 16px;
  }
}

.green{
  color: $green;
}

.fw{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.site-input{
  position: relative;
  width: 100%;
  &::after,
  &::before{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #000;
    content: '';
    z-index: 1;
  }
  &::before{
    width: 0;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    background: #ca0707;
  }
  .text-error{
    position: absolute;
    top: calc(100% + 1px);
    text-align: right;
    transition: all 0.4s ease-in-out;
    color: #ca0707;
    opacity: 0;
    height: auto;
    line-height: 1;
    font-size: 14px;
    font-family: "SuisseIntl-Light";
    font-weight: 300;
    right: 0;
    display: block;
  }
  label{
    font-family: "SuisseIntl-Light";
    font-weight: 300;
    color: #000000;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
    span{
      position: absolute;
      left: 0;
      top: 0;
      height: 60px;
      line-height: 60px;
    }
  }
  input{
    width: 100%;
    outline: none;
    background: transparent;
    border: none;
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 10px 0 100px;
    color: #fff;
    font-size: 18px;
    font-family: "SuisseIntl-Light";
    font-weight: 300;
    transition: all 0.4s ease-in-out;
    @media all and(max-width: 767px){
      padding-left: 70px;
    }
    &:active{
      color: #fff;
    }
  }
  &.error{
    input{
      color: #ca0707;
    }
    &::before{
      width: 100%;
    }
    label{
      color: #ca0707;
    }
    .text-error{
      opacity: 1;
    }
  }
}
.site-checkbox{
  position: relative;
  label{
    padding-left: 34px;
    cursor: pointer;
    input{
      display: none;
      outline: none;
      height: 0;
      opacity: 0;
      &:checked ~ .checkmark{
        &::after{
          opacity: 1;
        }
      }
    }
    .checkmark{
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      background: #fff;
      &::after{
        position: absolute;
        left: 4px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid #000;
        border-width: 0 2px 2px 0;
        content: '';
        transform: rotate(45deg);
        transition: all 0.2s ease-in-out;
        opacity: 0;
      }
    }
  }
  &.error{
    *{
      color: #ca0707;
    }
  }
}
