<template>
  <section class="s_contacts">
    <div class="container">
      <div class="s_contacts_heading">
        <h1>Contacts</h1>
      </div>
      <div class="s_contacts_wrap fw">
        <div class="s_contacts_left">
          <div class="s_contacts_left_wrap">
            <h2>
              <span class="green">GMS </span>Headquarters
            </h2>
            <div class="s_contacts_left_inner fw">
              <div class="s_contacts_left_text">
                <p>
                  Global Message Services Ukraine LLC <br/>Bundesstrasse 5 | 3rd Floor <br/> 6300 Zug <br/>Switzerland
                </p>
                <a href="tel:+41415446206" class="s_contacts_tel green">+41 41 544 62 06</a>
              </div>
              <div class="s_contacts_list">
                <p>Email</p>
                <a href="mailto:info@gms-worldwide.com">info@gms-worldwide.com</a>
                <p>Send message</p>
                <a href="viber://chat?number=+41415446206">VIBER US</a>
                <p>Send form</p>
                <a href="#form">CONTACT US</a>
              </div>
            </div>
          </div>
        </div>
        <div class="s_contacts_right">
          <div class="s_contacts_right_wrap">
            <h2>
              Technical support <span class="green">24/7</span>
            </h2>
            <div class="s_contacts_right_text">
              <p>
                GMS understands that it can be hard to follow all new technologies. We regularly provide for all our clients educational trainings to make your operator`s business earn more and better though our best practices.
              </p>
              <a href="tel:+41 41 544 62 06" class="s_contacts_tel green">+41 41 544 62 06</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</template>

<script>
export default {

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../assets/styles/components/contacts";
</style>
