<template>
  <footer class="s_footer">
    <div class="container">
      <h2>Contact Us</h2>
      <div class="s_footer_wrap fw">
        <div class="s_footer_form">
          <form id="js-form" data-type="Отправка формы" @submit.prevent="submitForm()">
            <div class="s_footer_inputs">
              <div class="site-input s_footer_input" :class="{error: canValidate && !checkName}">
                <label>
                  <span>Name</span>
                  <input type="text" v-model="name" name="name" value="" autocomplete="off">
                  <span class="text-error">Enter correct name</span>
                </label>
              </div>
              <div class="site-input s_footer_input" :class="{error: canValidate && !checkPhone}">
                <label>
                  <span>Phone</span>
                  <masked-input v-model="phone" name="phone" mask="\+\38093 111-11-11" placeholder="" type="tel" />
                  <span class="text-error">Enter correct phone</span>
                </label>
              </div>
              <div class="site-input s_footer_input" :class="{error: canValidate && !checkEmail}">
                <label>
                  <span>E-mail</span>
                  <input type="text" v-model="email" name="email" value="" autocomplete="off">
                  <span class="text-error">Enter correct email</span>
                </label>
              </div>
              <div class="s_footer_checkbox site-checkbox" :class="{error: canValidate && !agree}">
                <label>
                  <input type="checkbox" checked="checked" v-model="agree">
                  <span class="checkmark"></span>
                  I agree the processing of personal data
                </label>
              </div>
              <div class="s_footer_submit">
                <button :disabled="request">Get in touch</button>
              </div>
            </div>
          </form>
        </div>
        <div class="s_footer_info">
          <p>
            Please tell us more about your request and give us info about your company and country
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import MaskedInput from 'vue-masked-input';
export default {
  data(){
    return{
      map: null,
      canValidate: false,
      email: '',
      phone: '',
      name: '',
      agree: true,
      info: '',
      request: false,
      test: '',
    }
  },
  mounted(){
    this.test = this.$store.state.count;
  },
  computed: {
    checkEmail () {
      let emailReg = /^(\w\.?)+@{1}([A-Za-z]\D+)+(\.{1}[a-zA-Z]{2,6})+$/
      let email = this.email.trim()
      return emailReg.test(email)
    },
    checkPhone () {
			let phoneReg = /^\+38(0{1}[1-9]{1}\d{1}){1}[ ]{1}[-0123456789]{9}$/;
			return phoneReg.test(this.phone)
		},
		checkName () {
      let nameReg = /^[A-Za-z ]+$/;
			return (this.name.length > 2 && this.name.length < 30 && nameReg.test(this.name))
		},
  },
  methods:{
    submitForm(){
       this.canValidate = true;
       if(this.checkEmail && this.checkPhone && this.checkName && this.agree){
         this.request = true;
         this.axios('http://httpbin.org/post', {
          method: 'POST',
          headers: {
            'content-type': 'application/json',
          },
          data: {
            "name":this.name,
            "email":this.email,
            "phone":this.phone,
          },
        })
        .then(response => {
          this.info = response.data.data;
          console.log(this.info);
          this.canValidate = false;
          this.name = '';
          this.email = '';
          this.phone = '';
          this.request = false;
        })
        .catch(error => {
          throw error;
        });
       }
    }
  },
  components:{
    MaskedInput
  }
}
</script>


<style lang="scss" scoped>
@import "../assets/styles/components/footer";
</style>
