<template>
  <section class="s_offices">
    <div class="container">
        <div class="s_offices_wrap">
          <div class="s_offices_content">
            <div class="s_offices_heading">
              <h2>Our Offices</h2>
            </div>
            <div class="s_offices_tabs fw">
              <div class="s_offices_tab" v-for="(item,index) in centers" :key="index">
                <button :class="{active: item.show}" @click="changeMarker(item,index)">{{item.title}}</button>
              </div>
            </div>
            <h3>Theme</h3>
            <div class="s_offices_tabs fw s_offices_lights">
              <div class="s_offices_tab s_offices_light">
                <button :class="{active: !light}" @click="changeStyle">dark</button>
              </div>
              <div class="s_offices_tab s_offices_light">
                <button :class="{active: light}" @click="changeStyle">light</button>
              </div>
            </div>
            <div class="s_offices_adr" v-show="item.show" v-for="(item,index) in centers" :key="index">
              <h3>
                {{item.heading}}
              </h3>
              <div class="s_offices_adr_text" v-html="item.text">
              </div>
            </div>
          </div>
          <div class="s_offices_map_wrap">
            <div class="s_offices_map" ref="js-map">
            </div>
          </div>
        </div>
    </div>
  </section>
</template>

<script>
import gmapsInit from '../utils/gmap';
export default {
  data(){
    return{
      light: false,
      map: null,
      markers: [],
      centers:[
        {
          lat: 50.4051845,
          lng: 30.4976132,
          zoom: 9,
          icon: require('../assets/circle.png'),
          title: 'Kyiv',
          show: true,
          heading: 'Global Message Services Ukraine LLC',
          text: `<p>Kuiv, Stepan Bandera, 33 <br/>02066 <br/>Ukraine</p>`,
        },
        {
          lat: 40.7127753,
          lng: -74.0059728,
          zoom: 10,
          icon: require('../assets/circle.png'),
          title: 'New york',
          show: false,
          heading: 'Global Message Services USA LLC',
          text: `<p>New york, big street, 33 <br/>02066 <br/>USA</p>`,
        },
        {
          lat: 23.12911,
          lng: 113.264385,
          zoom: 9,
          icon: require('../assets/circle.png'),
          title: 'Guangzhou',
          show: false,
          heading: 'Global Message Services China LLC',
          text: `<p>Guangzhou, china street, 33 <br/>02066 <br/>China</p>`,
        },
        {
          lat: 41.3850639,
          lng: 2.1734035,
          zoom: 12,
          icon: require('../assets/circle.png'),
          title: 'Barcelona',
          show: false,
          heading: 'Global Message Services spain LLC',
          text: `<p>Barcelona, spain street, 33 <br/>02066 <br/>spain</p>`,
        }
      ]
    }
  },
  methods:{
    changeMarker(item,index){
      this.centers.forEach((el)=>{
        el.show = false;
      })
      this.markers[index].setMap(this.map);
      this.centers[index].show = true;
      this.map.setCenter({lat:item.lat, lng:item.lng});
    },
    changeStyle(){
      this.light = !this.light;
      if(this.light){
        this.map.setOptions({styles: this.$store.state.lightStyles});
      } else {
        this.map.setOptions({styles: this.$store.state.darkStyles});
      }
    }
  },
  async mounted() {
    try {
      const google = await gmapsInit();
        let item = this.centers[0];
        let mapOptions = {
          zoom: item.zoom,
          center: new google.maps.LatLng(item.lat,item.lng),
          styles: this.$store.state.darkStyles
        };
        this.map = new google.maps.Map(this.$refs['js-map'],mapOptions);
        this.centers.forEach((item)=>{
          let marker = new google.maps.Marker({
            position: new google.maps.LatLng(item.lat, item.lng),
            title: item.title,
            icon: item.icon
          });
          // collect all markers to change them later by clicking on tabs
          this.markers.push(marker);
        })
        // make first marker active at first loading
        this.markers[0].setMap(this.map);
    } catch (error) {
      alert(error);
    }
  },



}
</script>


<style lang="scss" scoped>
@import "../assets/styles/components/offices";
</style>
<style lang="scss" >
.s_offices_adr_text *{
  color: #fff;
}
</style>
