<template>
  <div id="app">
    <contacts></contacts>
    <offices></offices>
    <footer-contacts></footer-contacts>
  </div>
</template>

<script>
import contacts from './components/contacts.vue';
import offices from './components/offices.vue';
import footerContacts from './components/footer.vue';

export default {
  name: 'app',
  components: {
    contacts,
    offices,
    footerContacts
  },

}
</script>

<style lang="scss">
@import "assets/styles/components/settings";
</style>
